<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angry-tail</key>
	<dict>
		<key>imageFormat</key>
		<string>cat_angry%04d.jpg</string>
		<key>frames</key>
		<integer>26</integer>
		<key>soundFiles</key>
		<array>
			<string>angry.m4a</string>
		</array>
		<key>comment</key>
		<string>摸尾巴生气</string>
	</dict>
	<key>blink</key>
	<dict>
		<key>imageFormat</key>
		<string>cat_blink%04d.jpg</string>
		<key>frames</key>
		<integer>3</integer>
		<key>soundFiles</key>
		<array/>
		<key>comment</key>
		<string>眨眼睛，没有声音</string>
	</dict>
	<key>cymbal</key>
	<dict>
		<key>imageFormat</key>
		<string>cat_cymbal_iPad%04d.jpg</string>
		<key>frames</key>
		<integer>13</integer>
		<key>soundFiles</key>
		<array>
			<string>cymbal.m4a</string>
		</array>
		<key>comment</key>
		<string>打镲</string>
	</dict>
	<key>drink</key>
	<dict>
		<key>imageFormat</key>
		<string>cat_drink%04d.jpg</string>
		<key>frames</key>
		<integer>81</integer>
		<key>soundFiles</key>
		<array>
			<string>p_drink_milk.m4a</string>
		</array>
		<key>comment</key>
		<string>喝牛奶</string>
	</dict>
	<key>eat</key>
	<dict>
		<key>imageFormat</key>
		<string>cat_eat_iPad%04d.jpg</string>
		<key>frames</key>
		<integer>40</integer>
		<key>soundFiles</key>
		<array>
			<string>p_eat.m4a</string>
		</array>
		<key>comment</key>
		<string>吃鸟</string>
	</dict>
	<key>fart</key>
	<dict>
		<key>imageFormat</key>
		<string>iPad%04d.jpg</string>
		<key>frames</key>
		<integer>28</integer>
		<key>soundFiles</key>
		<array>
			<string>fart001_11025.m4a</string>
			<string>fart002_11025.m4a</string>
			<string>fart003_11025.m4a</string>
		</array>
		<key>comment</key>
		<string>放屁</string>
	</dict>
	<key>foot-left</key>
	<dict>
		<key>imageFormat</key>
		<string>cat_foot_left%04d.jpg</string>
		<key>frames</key>
		<integer>30</integer>
		<key>soundFiles</key>
		<array>
			<string>p_foot3.m4a</string>
			<string>p_foot4.m4a</string>
		</array>
		<key>comment</key>
		<string>左脚</string>
	</dict>
	<key>foot-right</key>
	<dict>
		<key>imageFormat</key>
		<string>cat_foot_right%04d.jpg</string>
		<key>frames</key>
		<integer>30</integer>
		<key>soundFiles</key>
		<array>
			<string>p_foot3.m4a</string>
			<string>p_foot4.m4a</string>
		</array>
		<key>comment</key>
		<string>右脚</string>
	</dict>
	<key>happy</key>
	<dict>
		<key>imageFormat</key>
		<string>cat_happy%04d.jpg</string>
		<key>frames</key>
		<integer>29</integer>
		<key>soundFiles</key>
		<array/>
		<key>comment</key>
		<string>高兴</string>
	</dict>
	<key>happy-simple</key>
	<dict>
		<key>imageFormat</key>
		<string>cat_happy_simple%04d.jpg</string>
		<key>frames</key>
		<integer>25</integer>
		<key>soundFiles</key>
		<array/>
		<key>comment</key>
		<string>高兴2</string>
	</dict>
	<key>knockout</key>
	<dict>
		<key>imageFormat</key>
		<string>cat_knockout%04d.jpg</string>
		<key>frames</key>
		<integer>81</integer>
		<key>soundFiles</key>
		<array>
			<string>slap1.m4a</string>
			<string>slap2.m4a</string>
			<string>slap3.m4a</string>
			<string>slap4.m4a</string>
			<string>slap5.m4a</string>
			<string>slap6.m4a</string>
		</array>
		<key>comment</key>
		<string>打倒</string>
	</dict>
	<key>listen</key>
	<dict>
		<key>imageFormat</key>
		<string>cat_listen0005.jpg</string>
		<key>frames</key>
		<integer>1</integer>
		<key>soundFiles</key>
		<array/>
		<key>comment</key>
		<string>听，单张图片非动画</string>
	</dict>
	<key>pie</key>
	<dict>
		<key>imageFormat</key>
		<string>pie-iPad%04d.jpg</string>
		<key>frames</key>
		<integer>24</integer>
		<key>soundFiles</key>
		<array>
			<string>splat_01.m4a</string>
			<string>splat_05.m4a</string>
		</array>
		<key>comment</key>
		<string>拍饼</string>
	</dict>
	<key>scratch</key>
	<dict>
		<key>imageFormat</key>
		<string>Scratch-iPad%04d.jpg</string>
		<key>frames</key>
		<integer>56</integer>
		<key>soundFiles</key>
		<array>
			<string>scratch_kratzen.m4a</string>
		</array>
		<key>comment</key>
		<string>挠玻璃</string>
	</dict>
	<key>sneeze</key>
	<dict>
		<key>imageFormat</key>
		<string>cat_sneeze%04d.jpg</string>
		<key>frames</key>
		<integer>14</integer>
		<key>soundFiles</key>
		<array/>
		<key>comment</key>
		<string>打喷嚏</string>
	</dict>
	<key>stomach</key>
	<dict>
		<key>imageFormat</key>
		<string>cat_stomach%04d.jpg</string>
		<key>frames</key>
		<integer>34</integer>
		<key>soundFiles</key>
		<array>
			<string>p_belly1.m4a</string>
			<string>p_belly2.m4a</string>
		</array>
		<key>comment</key>
		<string>打肚皮</string>
	</dict>
	<key>talk</key>
	<dict>
		<key>imageFormat</key>
		<string>cat_talk%04d.jpg</string>
		<key>frames</key>
		<integer>15</integer>
		<key>soundFiles</key>
		<array/>
		<key>comment</key>
		<string>说话</string>
	</dict>
	<key>yawn</key>
	<dict>
		<key>imageFormat</key>
		<string>cat_zeh%04d.jpg</string>
		<key>frames</key>
		<integer>31</integer>
		<key>soundFiles</key>
		<array>
			<string>p_yawn2_11a.m4a</string>
			<string>p_yawn3_11a.m4a</string>
		</array>
		<key>comment</key>
		<string>打哈欠</string>
	</dict>
</dict>
</plist>
