
/*赵康*/
/*::-webkit-scrollbar {
width:10px;
height:10px;

}

::-webkit-scrollbar-track-piece {
background-color:#fff !important;

}

::-webkit-scrollbar-thumb {
border-radius:0;
background-color:#018ee8;

}

::-webkit-scrollbar-thumb:hover {
background-color:#6fabec;

}

::-webkit-scrollbar-thumb:active {
background-color:#6fabec;

}

::-webkit-scrollbar-thumb:active {

height:50px;
-webkit-border-radius:2px;
background-color:#033367;

}*/

::selection {
color:white;
background:rgb(215,48,48);

}

::-moz-selection {
color:white;
background:rgb(215,48,48);

}

::-webkit-selection {
color:white;
background:rgb(215,48,48);

}

blockquote {
margin:20px 0;
padding:20px 50px;
border-radius:10px;
/*赵康*/
/*background:url('http://files.cnblogs.com/files/liyunhua/ctrip.gif') no-repeat -75px -20px #f0f0f0;*/
background: no-repeat -75px -20px #f0f0f0;
-ms-border-radius:10px;

}

ul,li {
margin:0;
padding:0;

}

ul {
list-style:none;

}

.clearfix:before,.clearfix:after {
display:table;
content:'';

}

.clearfix:after {
clear:both;

}

.clearfix {
zoom:1;

}

.ff-t {
font-family:Tahoma;

}

.scrollBtn {
position:fixed;
right:15px;
bottom:45px;
width:54px;
_position:absolute;

}

.scrollBtn a {
display:inline-block;
overflow:hidden;
width:54px;
height:54px;
-webkit-transition:opacity .5s ease;
-moz-transition:opacity .5s ease;
-o-transition:opacity .5s ease;
transition:opacity .5s ease;
text-align:center;
opacity:.6;
color:white;
background:url(http://images.cnblogs.com/cnblogs_com/ChenXu-net/517141/o_gototop.png) no-repeat 0 0;
filter:Alpha(Opacity=60);

}

.scrollBtn li {
float:left;
overflow:hidden;
height:54px;
margin-bottom:5px;

}

.scrollBtn a:hover {
opacity:1;
filter:Alpha(Opacity=100);

}

.sB-comment a {
height:17px;
padding-top:34px;
padding-bottom:3px;
background-position:0 -59px;

}

.sB-share a {
background-position:0 -118px;

}

.sB-goTop a {
background-position:0 -177px;

}

body {
font-family:'微软雅黑','宋体',Arial;
font-size:15px;
min-width:1200px;
margin:0;
padding:0;
/*背景图片 - 赵康*/
/*background:#205424 url('http://mat1.gtimg.com/www/mb/theme/qqfs/one_lhj/wrapBg.jpg') no-repeat top center;*/
background:#205424 no-repeat top center;

}

#home {
overflow:auto;
width:1200px;
margin:40px auto;
border:solid 1px white;
/*赵康*/
/*border-radius:0 350px 0 0;*/
border-radius: 0;
background:white;
box-shadow:0 0 10px #000;
filter:alpha(opacity=90);

}

.postBody p,.postCon p {
line-height:24px;
margin:7px 0;

}

ul {
margin:0;
padding:0;
list-style:none;

}

image {
border:none;

}

#header {
padding:10px;

}

#blogTitle .title {
font-size:36px;
line-height:100px;
height:100px;
padding-left:120px;
/*头像 - 赵康*/
background:white url('http://files.cnblogs.com/files/forzhaokang/title.gif') no-repeat; 

}

.subtitle {
font-size:14px;
font-weight:normal;
margin:10px 0;
padding-left:30px;
color:#999;

}

#navigator {
font-size:16px;
height:48px;
margin-top:20px;
margin-bottom:20px;
text-align:center;
background:#55895b;

}

#navList li {
line-height:48px;
display:inline-block;
float:left;
margin:0;

}

#navList li:hover {
background:#6da47d;

}

#navList li a {
line-height:48px;
display:-moz-inline-box;
display:inline-block;
padding:0 30px;
text-decoration:none;
color:white;
border:0;

}

.blogStats {
line-height:48px;
height:48px;
color:white;

}

#main {
padding:10px;

}

#sideBarMain {
font-size:12px;
line-height:22px;
width:190px;
margin:0 0 20px 0;
padding:0 10px 0 0;
border-right:1px dashed #bec7c2;
background:white;

}

#profile_block {
line-height:24px;
text-align:left;

}

#mainContent {
float:right;
width:960px;
margin-top:0;
padding-top:0;
padding-right:0;
padding-bottom:0;
padding-left:10px;
background:white;

}

.day {
margin:0 0 20px 0;
padding:0;
background:white;

}

.postTitle a {
color:#464646;

}

.postTitle {
font-size:20px;
font-weight:bold;
padding-bottom:10px;
padding-left:30px;
color:#464646;
background:url('http://images.cnblogs.com/cnblogs_com/libaoheng/305804/o_br229512.link(en-us,MSDN.10).gif') no-repeat 0 3px;

}

.dayTitle {
display:none;

}

.c_b_p_desc {
line-height:24px;
padding:40px 5px 10px 30px;
color:#888;
border-radius:12px;
background:url('http://images.cnblogs.com/cnblogs_com/ChenXu-net/517141/o_quote.png') no-repeat -75px -20px #f0f0f0;
-ms-border-radius:10px;

}

.c_b_p_desc a {
color:#888;

}

.desc_img {
margin-left:10px;
border:solid 1px white;
box-shadow:0 0 10px #aaa;

}

#topics .post {
background:white;

}

.postCon {
padding:10px 20px 0 20px;

}

.postDesc {
font-size:12px;
margin:0 30px;
margin-bottom:2px;
padding:8px 0;
text-align:right;
color:#aaa;
background:white;

}

.postDesc a {
color:#aaa;

}

.postBody {
padding:0;

}

#google_q,#q {
width:120px;
border:solid 1px #ccc;
border-radius:4px;

}

.btn_my_zzk {
font-family:'Microsoft Yahei';
font-size:14px;
position:relative;
display:inline-block;
width:60px;
height:26px;
padding:1px;
cursor:pointer;
vertical-align:middle;
color:white;
border:none;
border-radius:4px;
background:#55895b;

}

.btn_my_zzk:hover {
background:#6da47d;

}

#div_digg {
position:fixed;
right:180px;
bottom:20px;
z-index:9999;
background-color:#fff;
font-size:12px;
width:125px;
margin:10px 0 0 0;
padding:5px;
text-align:center;
border:3px solid #55895b;
border-radius:5px;

}

#digg_tips {
display:none;

}

#btn_comment_submit {
width:120px;
height:48px;
border:none;

}

.comment_btn {
font-family:'Microsoft Yahei';
font-size:18px;
position:relative;
display:inline-block;
width:120px;
height:48px;
cursor:pointer;
vertical-align:middle;
color:white;
border:none;
background:#55895b;

}

#btn_comment_submit:hover {
background:#6da47d;

}

.feedback_area_title {
font-size:24px;
font-weight:bold;
padding:10px;
color:#55895b;
border-bottom:solid 6px #55895b;

}

.feedbackListSubtitle {
font-size:12px;
color:#888;

}

.feedbackListSubtitle a {
color:#888;

}

#commentform_title {
font-size:24px;
font-weight:bold;
margin-bottom:10px;
padding:10px 20px 10px 10px;
color:#55895b;
border-bottom:solid 6px #55895b;
background-image:none;
background-repeat:no-repeat;

}

#comment_form {
margin:10px 0;
padding:0;

}

.commentform {
margin:10px 0;
padding:10px 20px;
background:white;

}

#tbCommentBody {
font-size:14px;
line-height:1.42857143;
width:940px;
height:200px;
padding:5px 12px;
-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
color:#3c763d;
border:1px solid #ccc;
border-radius:4px;
background:white url(http://images.cnblogs.com/cnblogs_com/ChenXu-net/517141/o_A.png) right bottom no-repeat;
background-color:white;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
box-shadow:inset 0 1px 1px rgba(0,0,0,.075);

}

.feedbackItem {
font-size:14px;
line-height:24px;
margin:10px 0;
padding:20px;
background:#f2f2f2;
box-shadow:0 0 5px #aaa;

}

.feedbackListSubtitle {
font-weight:normal;

}

#footer {
font-size:12px;
font-size:14px;
margin:20px;
padding:12px;
text-align:center;
color:#ddd;
background:#55895b;

}

.catListTitle {
padding:5px;
border:1px solid #eee;
border-left-width:5px;
border-left-color:#55895b;
border-radius:3px;
background-color:white;

}

#green_channel {
font-size:15px;
font-weight:normal;
width:920px;
padding:20px;
padding-left:20px;
color:white;
border:none;
border-radius:4px;
background:#6da47d;

}

code {
padding:2px 4px;
/*赵康*/
/*white-space:nowrap;*/
color:rgb(221,17,68);
border:1px solid rgb(225,225,232);
-webkit-border-radius:3px;
-moz-border-radius:3px;
background-color:rgb(247,247,249);

}

kbd {
font-family:Arial,Helvetica,sans-serif;
font-size:11px;
line-height:1.4;
display:inline-block;
margin:0 .1em;
padding:.1em .6em;
color:rgb(51,51,51);
border:1px solid rgb(204,204,204);
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
background-color:rgb(247,247,247);
-webkit-box-shadow:0 1px 0 rgba(0,0,0,.2),0 0 0 2px rgb(255,255,255) inset;
-moz-box-shadow:0 1px 0 rgba(0,0,0,.2),0 0 0 2px white inset;
box-shadow:0 1px 0 rgba(0,0,0,.2),0 0 0 2px rgb(255,255,255) inset;
text-shadow:0 1px 0 rgb(255,255,255);

}

.headph:hover img {
-webkit-transform:rotate(360deg) scale(1.5);
-moz-transform:rotate(360deg) scale(1.5);
-ms-transform:rotate(360deg) scale(1.5);
-o-transform:rotate(360deg) scale(1.5);
transform:rotate(360deg) scale(1.5);

}

.headph img {
width:48px;
height:48px;
-webkit-transition:all 1s ease-in-out;
-moz-transition:all 1s ease-in-out;
-ms-transition:all 1s ease-in-out;
-o-transition:all 1s ease-in-out;
transition:all 1s ease-in-out;

}

.Abstract {
font-family:'Microsoft Yahei';
padding:15px;
color:#999;
border:dotted 2px #999;
border-radius:4px;

}

.First {
font-family:'Microsoft Yahei';
font-size:20px;
clear:both;
margin:10px 0;
padding:6px 20px;
text-align:left;
color:white;
border-radius:4px;
background:#55895b;

}

.Second {
font-family:'Microsoft Yahei';
font-size:18px;
clear:both;
margin:10px 0;
padding:6px 20px;
color:white;
border-radius:4px;
background:#93c8a2;

}

.Third {
font-family:'Microsoft Yahei';
font-size:16px;
clear:both;
margin:10px 0;
margin:15px 0;
padding:6px 20px;
color:white;
color:#999;
border-radius:4px;
background:#c6efd2;

}

.note {
font-family:'Microsoft Yahei';
font-size:15px;
clear:both;
margin:10px 0;
padding:15px 20px 15px 60px;
background:#fcfaa9 url('http://images.cnblogs.com/cnblogs_com/libaoheng/305804/o_yellow-pin.png') no-repeat 20px 0;
box-shadow:0 0 8px #aaa;

}

.demo {
font-size:16px;
clear:both;
overflow:auto;
padding:6px 20px;
text-align:left;
color:white;
border-radius:4px;
background:orange;

}

.syntaxhighlighter .line.alt2 {
background-color:white !important;

}

div.catListView a:hover,div.catListFeedback a:hover,div.catListBlogRank a:hover,div.catList a:hover,div.catListImageCategory a:hover,div.catListPostArchive a:hover,div.catListPostCategory a:hover,div.catListLink a:hover,div#profile_block a:hover,div#blog-comments-placeholder a:hover,div#comment_form a:hover {
color:#8acc43;

}

#BlogPostCategory a,.catListTag a,#RecentCommentsBlock a,#topics a:hover,#LauncherLogoLink:hover {
padding:1px 3px 1px 3px;
text-decoration:none;
color:white;
border-radius:3px;
background-color:#55895b;

}

h1 {
margin:0;

}

h3 {
font-size:15px;
font-weight:bold;

}

a {
text-decoration:none;
color:#464646;

}

a:visited,a:hover {
color:#464646;

}

.postBody .First a {
color:white;

}

.postBody a:hover {
text-decoration:none;
color:white;
background-color:#55895b;

}

.postBody a {
padding:1px 3px 1px 3px;
color:#55895b;

}

.forFlow {
margin:0 16px 0 66px
}


#navList li a {
font-size:16px;
font-weight:bold;

}

